<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soboti.animalapi.mapper.AnimalMemberMapper">
    <select id="selectAnimalMember" resultType="com.soboti.animalapi.vo.AnimalMemberVo">
        SELECT *
        FROM animal_member
    </select>
</mapper>